body{
    background-color: black;
    color:red;
}
header{
  font-size: 45px;
 color:red;
 border-bottom: solid 15px red;
 text-align: center;
}

section{
 display: flex;
 background-color: black; 
 padding: 30px;
 justify-content: center;
 margin-top: 20px;
} 
.texto{
margin: 5%;
}
